:root {
    --primary-color: #15253f;
    --secondary-color: #b79f6f;
    --secondary-color-2: #f3e0a8;
}

body {
    margin: 0px;
    color: var(--primary-color);
    background-color: var(--primary-color);
}

header {
    text-align: center;
    font-family: 'Palatino Linotype', "sans-serif";
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color-2);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #fff; 
    border: 2px solid var(--primary-color); 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 6px #f3e0a880;
    margin-bottom: 20px;
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
}

.call {
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 10px; 
}

.section-title {
    text-align: center;
    color: var(--secondary-color);
}

.content-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.content-wrapper.specialist{
    align-items: flex-start; 
    gap: 15px; 
}

.content {
    background-color: black; 
    color: white; 
    padding: 10px 20px; 
    border: 2px solid var(--primary-color); 
    border-radius: 5px; 
    text-align: center; 
    display: inline-block; 
    margin: 20px; 
    max-width: 400px;
}

.content.specialist {
    display: flex;
    gap: 20px;
    max-width: 900px;
}

.specialist-img-wrapper {
    border: 2px solid #f3e0a880; /* Borda */
    border-radius: 5px; /* Bordas arredondadas */
    text-align: left;
}

.specialist-info {
    display: flex;
    flex-direction: column; /* Empilha o título e a descrição */
    text-align: center;
}

h2 {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.align-left {
    text-align: left;
}

p {
    line-height: 1.5;
}

.contact-btn {
    display: inline-block;
    background-color: #2B3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 20px 0;
}

.contact-btn:hover {
    background-color: var(--primary-color);
}

.contact-info{
    text-align: left;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color-2);
}

.logo {
    display: block; 
    margin: 0 auto; 
    max-width: 150px; 
    height: auto;
}

.specialist-img {
    display: inline;
    text-align: left;
    margin: 0 auto; 
    max-width: 150px; 
    height: auto;
}


.download-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #2B3;
    text-decoration: none;
    border-radius: 5px;
}

.download-btn:hover {
    background-color: var(--primary-color);
}

.download-btn i {
    margin-right: 10px;
    font-size: 1.5em;
}

.contact-content {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.map-wrapper {
    flex: 1; 
    max-width: 700px; 
    border: 1px solid #000; 
}

iframe {
    width: 100%; 
}

.navigation-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.nav-btn {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: var(--primary-color);
}